.serv_heading{
    margin-top: 5%;
}

.col1{
        position: fixed; 
        top: 0;
        left: 0; 
        width: 200px; 
        height: 100%; 
        color: white; 
        padding: 5px; /* Add padding for content */
        box-sizing: border-box;  
        margin-top: 5%;
}

.para{
    margin-left: 15%;
}

.row-cols-1{
    margin-left: 15%;
}

.item-content{
    margin-left: 5%;
}

.col{
    margin-left: 15%;
}